<link
  href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css"
  rel="stylesheet"
/>

<div class="wrapperr">
  <!-- Sidebar  -->
  <nav id="sidebar" aria-label="sidebar">
    <div class="sidebar-header">
      <img
        src="assets/images/LOGO.png"
        alt="Logo"
        style="height: 60px; width: auto; padding-right: 15px"
      />
    </div>

    <div class="container-fluid">
      <div class="row">
        <div class="col">
          <ul class="list-unstyled components" style="text-align: center;">
            <li class="active">
             

            <li>
              <a routerLink="/admin/aboutus" class="btn" style="border: none; background-color: #A75D5D;font-weight: 500; font-size: medium">About us</a>
            </li>
            <li>
              <a routerLink="/admin/viewRestaurants" class="btn" style="border: none; background-color: #A75D5D;font-weight: 500; font-size: medium">Restaurants</a>

            </li>
            <li>
              <a routerLink="/admin/viewOrders" class="btn" style="border: none; background-color: #A75D5D;font-weight: 500; font-size: medium">Orders</a>

            </li>
            <li>
              <a routerLink="/admin/viewCustomers" class="btn" style="border: none; background-color: #A75D5D;font-weight: 500; font-size: medium">Customers</a>

            </li>
            <li>
              <a routerLink="/admin/viewFeedbacks" class="btn" style="border: none; background-color: #A75D5D;font-weight: 500; font-size: medium">Feedbacks</a>

            </li>
          </ul>
        </div>
      </div>
    </div>
  </nav>

  <!-- Page Content  -->
  <main class="p-2 w-100" style="background-color: #7d6f6f">
    <nav
      class="navbar navbar-expand-lg navbar-dark sticky-top rounded-1"
      aria-label="mainNav"
    >
      <div class="container">
        <a class="navbar-brand" aria-label="admin" href="#"> </a>
        <a
          class="navbar-brand"
          href="backtoadmin"
          style="font-weight: 700; font-size: x-large"
          >Admin Dashboard</a
        >
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNav"
          aria-controls="navbarNav"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div
          class="collapse navbar-collapse justify-content-end"
          id="navbarNav"
        >
          <ul class="navbar-nav">
            <li class="nav-item">
              <a
                class="btn-danger btn rounded-1 text-light"
                style="font-size: medium; font-weight: 600; width: 100"
                href="logoutRequest"
                >Logout</a
              >
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-6 col-lg-3 mb-3">
          <div class="card text-dark rounded-1">
            <div class="card-body m-0 p-0 rounded-1" style="height: 200px">
              <img
                class="rounded-1 w-100 h-100"
                src="assets/images/restaurant.jpg"
                alt=""
              />
            </div>
            <div
              class="card-footer d-flex justify-content-between"
              style="background-color: #c9c9c9"
            >
              <span
                class="text-dark"
                style="font-weight: 500; font-size: medium"
              >
              <a routerLink="/admin/viewRestaurants" class="btn" style="border: none; background-color: #c9c9c9;font-weight: 500; font-size: medium">View Restaurants</a>
                <span>
                  <i class="bi bi-chevron-right text-dark"></i> </span
              ></span>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-3 mb-3">
          <div class="card text-dark rounded-1">
            <div
              class="card-body m-0 p-0 rounded-1"
              style="height: 200px; border-radius: 19px"
            >
              <img
                class="rounded-1 w-100 h-100"
                src="assets/images/Orders.jfif"
                style="border-radius: 19px"
                alt=""
              />
            </div>
            <div
              class="card-footer d-flex justify-content-between"
              style="background-color: #c9c9c9"
            >
              <span
                class="text-dark"
                style="font-weight: 500; font-size: medium"
                >
                <a routerLink="/admin/viewOrders" class="btn" style="border: none; background-color: #c9c9c9;font-weight: 500; font-size: medium">View Orders</a>

                <span>
                  <i class="bi bi-chevron-right text-dark"></i> </span
              ></span>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-3 mb-3">
          <div class="card text-dark rounded-1">
            <div class="card-body m-0 p-0 rounded-1" style="height: 200px">
              <img
                class="rounded-1 w-100 h-100"
                src="assets/images/Customers.jpg"
                alt=""
              />
            </div>
            <div
              class="card-footer d-flex justify-content-between"
              style="background-color: #c9c9c9"
            >
              <span
                class="text-dark"
                style="font-weight: 500; font-size: medium"
                >  
                <a routerLink="/admin/viewCustomers" class="btn" style="border: none; background-color: #c9c9c9;font-weight: 500; font-size: medium">View Customers</a>

                <span>
                  <i class="bi bi-chevron-right text-dark"></i> </span
              ></span>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-3 mb-3">
          <div class="card text-dark rounded-1">
            <div class="card-body m-0 p-0 rounded-1" style="height: 200px">
              <img
                class="rounded-1 w-100 h-100"
                src="assets/admin.jfif"
                alt=""
              />
            </div>
            <div
              class="card-footer d-flex justify-content-between"
              style="background-color: #c9c9c9"
            >
              <span
                class="text-dark"
                style="font-weight: 500; font-size: medium"
                >
              <a routerLink="/admin/viewFeedbacks" class="btn" style="border: none; background-color: #c9c9c9;font-weight: 500; font-size: medium">View Feedbacks</a>


                <span>
                  <i class="bi bi-chevron-right text-dark"></i> </span
              ></span>
            </div>
          </div>
        </div>
      </div>
      <div class="row row-cols-md-1 g-3">
        <div class="col mb-3">
          <div class="card">
            <div class="card-header">
              <span class="me-2"><i class="bi bi-bar-chart-fill"></i></span>
              Area Chart Example
            </div>
            <div class="card-body">
              <canvas class="chart" width="400" height="200"></canvas>
            </div>
          </div>
        </div>
        <div class="col mb-3">
          <div class="card">
            <div class="card-header">
              <span class="me-2"><i class="bi bi-bar-chart-fill"></i></span>
              Area Chart Example
            </div>
            <div class="card-body">
               
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col mb-3">
          <div class="card">
            <div class="card-header">
              <span><i class="bi bi-table me-2"></i></span> Feedback Table
            </div>
            <div class="card-body">
              <div class="table-responsive">
                <table id="example" class="table table-striped">
                  <caption></caption>
                  <thead>
                    <tr>
                      <th>Name</th>
                      <th>Position</th>
                      <th>Office</th>
                      <th>Age</th>
                      <th>Start date</th>
                      <th>Salary</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>Tiger Nixon</td>
                      <td>System Architect</td>
                      <td>Edinburgh</td>
                      <td>61</td>
                      <td>2011/04/25</td>
                      <td>$320,800</td>
                    </tr>
                    <tr>
                      <td>Tiger Nixon</td>
                      <td>System Architect</td>
                      <td>Edinburgh</td>
                      <td>61</td>
                      <td>2011/04/25</td>
                      <td>$320,800</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>
