<app-header></app-header>
<div class="clearfix"></div>

<!-- about -->
<div class="about-bottom">
  <div class="row no-gutters">
    <div class="col-lg-5 col-md-6 about"></div>
    <div class="col-lg-7 col-md-6 about-right-w3 text-right py-md-5">
      <div class="right-space py-xl-5 py-lg-3">
        <div class="title-section mb-4">
          <p class="w3ls-title-sub">About Us</p>
          <h3 class="w3ls-title">Welcome to <span>Quisine</span></h3>
        </div>
        <p class="about-text">
          At Quisune, we're passionate about connecting you with the best food
          experiences in your area. Whether you're craving comfort classics from
          your favorite local diner or exploring exciting new flavors from
          top-rated restaurants, we're here to make every meal memorable. <br />
          ~<i>"Taste the World, One Bite at a Time with QUISINE!"</i>
        </p>
        <a class="button-w3ls mt-5" routerLink="/customers/aboutUs"
          >Read More
          <span class="fa fa-caret-right ml-1" aria-hidden="true"></span>
        </a>
      </div>
    </div>
  </div>
</div>
<!-- //about -->

<!-- specials -->
<section class="blog_w3ls py-5">
  <div class="container pb-xl-5 pb-lg-3">
    <div class="title-section text-center mb-md-5 mb-4">
      <p class="w3ls-title-sub">Quisine</p>
      <h3 class="w3ls-title">Restaurants <span>Linked With Us</span></h3>
    </div>
    <div class="row">
      <!-- blog grid -->
      <div class="col-lg-4 col-md-6">
        <div class="card border-0 med-blog">
          <div class="card-header p-0">
            <a>
              <img
                class="card-img-bottom"
                src="assets/images/hotels/restaurant-1.jpg"
                alt="Card image cap"
              />
            </a>
          </div>
          <div class="card-body border border-top-0">
            <h5 class="blog-title card-title m-0"><a>Hotel Patilwada</a></h5>
            <p class="mt-3">
              Cras ultricies ligula sed magna dictum porta auris blandita.
            </p>
            <a class="btn button-w3ls mt-4 mb-3" routerLink="/restaurantFoods/25"
              >View More
              <span class="fa fa-caret-right ml-1" aria-hidden="true"></span>
            </a>
          </div>
        </div>
      </div>
      <!-- //blog grid -->
      <!-- blog grid -->
      <div class="col-lg-4 col-md-6 mt-md-0 mt-5">
        <div class="card border-0 med-blog">
          <div class="card-header p-0">
            <a>
              <img
                class="card-img-bottom"
                src="assets/images/hotels/restaurant-3.jpg"
                alt="Card image cap"
              />
            </a>
          </div>
          <div class="card-body border border-top-0">
            <h5 class="blog-title card-title m-0"><a>Tadekar</a></h5>
            <p class="mt-3">
              Cras ultricies ligula sed magna dictum porta auris blandita.
            </p>
            <a class="button-w3ls active mt-4 mb-3" routerLink="/restaurantFoods/24"
              >View More
              <span class="fa fa-caret-right ml-1" aria-hidden="true"></span>
            </a>
          </div>
        </div>
      </div>
      <!-- //blog grid -->
      <!-- blog grid -->
      <div class="col-lg-4 col-md-6 mt-lg-0 mt-5">
        <div class="card border-0 med-blog">
          <div class="card-header p-0">
            <a>
              <img
                class="card-img-bottom"
                src="assets/images/hotels/restaurant-2.jpg"
                alt="Card image cap"
              />
            </a>
          </div>
          <div class="card-body border border-top-0">
            <h5 class="blog-title card-title m-0"><a>Black Swan</a></h5>
            <p class="mt-3">
              Cras ultricies ligula sed magna dictum porta auris blandita.
            </p>
            <a class="button-w3ls mt-4 mb-3" routerLink="/restaurantFoods/21"
              >View More
              <span class="fa fa-caret-right ml-1" aria-hidden="true"></span>
            </a>
          </div>
        </div>
      </div>
      <!-- //blog grid -->

      <div class="d-flex justify-content-center">
        <a routerLink="/restaurants" class="button-w3ls active mt-4 mb-3"
          >Explore More
          <span class="fa fa-caret-right ml-1" aria-hidden="true"></span>
        </a>
      </div>
    </div>
  </div>
</section>
<!-- //specials -->

<!-- two grids -->
<section class="offer pt-lg-3">
  <div class="row no-gutters">
    <div class="col-md-6 p-0">
      <div class="blog-sec-w3">
        <div class="text-blog-w3 text-center p-6">
          <h4 class="text-wh mb-3"><a>Best Fast Food Collection</a></h4>
          <p class="text-li">
            Fast food isn't just limited to American classics—around the world,
            fast food chains offer a diverse array of flavors and cuisines to
            tantalize your taste buds. From Japanese-inspired sushi rolls to
            Mexican-style burritos and Korean BBQ bowls, the international fast
            food scene offers a world of culinary delights waiting to be
            discovered.
          </p>
          <a routerLink="/restaurants" class="button-w3ls active mt-5"
            >Order Now
            <span class="fa fa-caret-right ml-1" aria-hidden="true"></span>
          </a>
        </div>
      </div>
    </div>
    <div class="col-md-6 p-0">
      <div class="blog-sec-w3 blog-sec-w3-2">
        <div class="text-blog-w3 text-center p-6">
          <h4 class="text-wh mb-3"><a>Organic Best & Fresh Food</a></h4>
          <p class="text-li">
            At the heart of everything we do is a commitment to our customers.
            We strive to provide an exceptional experience from start to finish,
            offering a seamless ordering process, timely deliveries, and
            top-notch customer support. Your satisfaction is our priority, and
            we're constantly innovating to make sure every interaction with our
            platform is a delight.
          </p>
          <a routerLink="/restaurants" class="button-w3ls active mt-5"
            >Order Now
            <span class="fa fa-caret-right ml-1" aria-hidden="true"></span>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- //two grids -->

<!-- services -->
<section class="middle py-5" id="services">
  <div class="container py-xl-5 py-lg-3">
    <div class="title-section text-center mb-md-5 mb-4">
      <p class="w3ls-title-sub">Our Work</p>
      <h3 class="w3ls-title mb-3">Excellent <span>Services</span></h3>
    </div>
    <div class="row grids-w3 py-xl-5 py-lg-4 pt-lg-0 pt-4">
      <div class="col-lg-5 w3pvt-lauits_banner_bottom_left">
        <div class="row">
          <div class="col-8 wthree_banner_bottom_grid_right text-right">
            <h4 class="mb-3"><a href="login.html">Free Shipping</a></h4>
            <p>Morbi viverra lacus commodo felis semper lectus feugiat.</p>
          </div>
          <div
            class="col-4 wthree_banner_bottom_grid_left text-lg-right text-center"
          >
            <img src="../../assets/images/s1.png" alt="" class="img-fluid" />
          </div>
        </div>
      </div>
      <div class="col-lg-2 w3pvt-lauits_banner_bottom_left"></div>
      <div class="col-lg-5 w3pvt-lauits_banner_bottom_left mt-lg-0 mt-4">
        <div class="row">
          <div
            class="col-4 wthree_banner_bottom_grid_left text-lg-right text-center"
          >
            <img src="../../assets/images/s2.png" alt="" class="img-fluid" />
          </div>
          <div class="col-8 wthree_banner_bottom_grid_right">
            <h4 class="mb-3"><a href="login.html">Free & Easy Returns</a></h4>
            <p>Morbi viverra lacus commodo felis semper lectus feugiat.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="row grids-w3 py-xl-5 py-lg-4 mt-lg-0 mt-4">
      <div class="col-lg-4 w3pvt-lauits_banner_bottom_left">
        <div class="row">
          <div class="col-8 wthree_banner_bottom_grid_right text-right pl-lg-0">
            <h4 class="mb-3"><a href="login.html">Online Order</a></h4>
            <p>Morbi viverra lacus commodo felis semper lectus feugiat.</p>
          </div>
          <div
            class="col-4 wthree_banner_bottom_grid_left text-lg-right text-center pr-lg-0"
          >
            <img src="../../assets/images/s3.png" alt="" class="img-fluid" />
          </div>
        </div>
      </div>
      <div class="col-lg-4 w3pvt-lauits_banner_bottom_left pr-0"></div>
      <div class="col-lg-4 w3pvt-lauits_banner_bottom_left mt-lg-0 mt-4">
        <div class="row">
          <div
            class="col-4 wthree_banner_bottom_grid_left text-lg-right text-center pl-lg-0"
          >
            <img src="../../assets/images/s4.png" alt="" class="img-fluid" />
          </div>
          <div class="col-8 wthree_banner_bottom_grid_right pr-lg-0">
            <h4 class="mb-3"><a href="login.html">24/7 Support</a></h4>
            <p>Morbi viverra lacus commodo felis semper lectus feugiat.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="img-blog-2">
    <img src="../../assets/images/img.png" alt="" class="img-fluid" />
  </div>
</section>
<!-- //services -->

<!-- blog -->
<section class="blog_w3ls py-5">
  <div class="container pb-xl-5 pb-lg-3">
    <div class="title-section text-center mb-md-5 mb-4">
      <p class="w3ls-title-sub">Quisine</p>
      <h3 class="w3ls-title">Special <span>Menu</span></h3>
    </div>
    <div class="row">
      <!-- blog grid -->
      <div class="col-lg-4 col-md-6">
        <div class="card border-0 med-blog">
          <div class="card-header p-0">
            <a routerLink="/restaurants">
              <img
                class="card-img-bottom"
                src="../../assets/images/blog1.jpg"
                alt="Card image cap"
              />
            </a>
          </div>
          <div class="card-body border border-top-0">
            <h5 class="blog-title card-title m-0">
              <a routerLink="/restaurants">French Burger</a>
            </h5>
            <p class="mt-3">
              Cras ultricies ligula sed magna dictum porta auris blandita.
            </p>
            <a routerLink="/restaurants" class="btn button-w3ls mt-4 mb-3"
              >View More
              <span class="fa fa-caret-right ml-1" aria-hidden="true"></span>
            </a>
          </div>
        </div>
      </div>
      <!-- //blog grid -->
      <!-- blog grid -->
      <div class="col-lg-4 col-md-6 mt-md-0 mt-5">
        <div class="card border-0 med-blog">
          <div class="card-header p-0">
            <a routerLink="/restaurants">
              <img
                class="card-img-bottom"
                src="../../assets/images/blog2.jpg"
                alt="Card image cap"
              />
            </a>
          </div>
          <div class="card-body border border-top-0">
            <h5 class="blog-title card-title m-0">
              <a routerLink="/restaurants">Veg Muffin</a>
            </h5>
            <p class="mt-3">
              Cras ultricies ligula sed magna dictum porta auris blandita.
            </p>
            <a routerLink="/restaurants" class="button-w3ls active mt-4 mb-3"
              >View More
              <span class="fa fa-caret-right ml-1" aria-hidden="true"></span>
            </a>
          </div>
        </div>
      </div>
      <!-- //blog grid -->
      <!-- blog grid -->
      <div class="col-lg-4 col-md-6 mt-lg-0 mt-5">
        <div class="card border-0 med-blog">
          <div class="card-header p-0">
            <a routerLink="/restaurants">
              <img
                class="card-img-bottom"
                src="../../assets/images/blog3.jpg"
                alt="Card image cap"
              />
            </a>
          </div>
          <div class="card-body border border-top-0">
            <h5 class="blog-title card-title m-0">
              <a routerLink="/restaurants">Hashbrown Brioche</a>
            </h5>
            <p class="mt-3">
              Cras ultricies ligula sed magna dictum porta auris blandita.
            </p>
            <a routerLink="/restaurants" class="button-w3ls mt-4 mb-3"
              >View More
              <span class="fa fa-caret-right ml-1" aria-hidden="true"></span>
            </a>
          </div>
        </div>
      </div>
      <!-- //blog grid -->

      <div class="d-flex justify-content-center">
        <a routerLink="/restaurants" class="button-w3ls active mt-4 mb-3"
          >Explore More
          <span class="fa fa-caret-right ml-1" aria-hidden="true"></span>
        </a>
      </div>
    </div>
  </div>
</section>
<!-- //blog -->

<!-- slides images -->
<section class="wthree-slider" id="masthead"></section>

<footer class="py-5">
  <div class="container py-xl-4">
    <div class="row footer-top">
      <div class="col-lg-4 footer-grid_section_1its footer-text">
        <img src="assets/images/LOGO.png" alt="..." style="height: 60px; width: 170px;">
        <p class="mt-lg-4 mt-3 mb-lg-5 mb-4">
          Whether you're looking for a quick bite on the go or a satisfying meal
          to enjoy at home, fast food offers a convenient and delicious option
          for every occasion. From classic burgers and fried chicken to global
          flavors and healthier choices, there's something for everyone to enjoy
          in the world of fast food. So why wait? Treat yourself to some of the
          best fast food offerings today and indulge your cravings like never
          before.
        </p>
        <!-- social icons -->
        <ul class="top-right-info">
          <li>
            <p>Follow As:</p>
          </li>
          <li class="facebook-w3">
            <a href="#facebbok">
              <span class="fa fa-facebook-f"></span>
            </a>
          </li>
          <li class="twitter-w3">
            <a href="#twitter">
              <span class="fa fa-twitter"></span>
            </a>
          </li>
          <li class="google-w3">
            <a href="#google">
              <span class="fa fa-google-plus"></span>
            </a>
          </li>
          <li class="dribble-w3">
            <a href="#dribble">
              <span class="fa fa-dribbble"></span>
            </a>
          </li>
        </ul>
        <!-- //social icons -->
      </div>
      <div class="col-lg-4 footer-grid_section_1its my-lg-0 my-sm-4 my-4">
        <div class="footer-title">
          <h3>Contact Us</h3>
        </div>
        <div class="footer-text mt-4">
          <p>Address : Pune</p>
          <p class="my-2">Phone : +91 9876545678</p>
          <p>
            Email : <a href="mailto:admin&#64;mail.com">admin&#64;gmail.com</a>
          </p>
        </div>
        <div class="footer-title mt-4 pt-md-2">
          <h3>Payment Method</h3>
        </div>
        <ul class="list-unstyled payment-links mt-4">
          <li>
            <img src="../../assets/images/pay2.png" alt="" />
          </li>
          <li>
            <img src="../../assets/images/pay5.png" alt="" />
          </li>
          <li>
            <img src="../../assets/images/pay1.png" alt="" />
          </li>
          <li>
            <img src="../../assets/images/pay4.png" alt="" />
          </li>
        </ul>
      </div>
      <div class="col-lg-4 footer-grid_section_1its">
        <div class="footer-title">
          <h3>Request Info</h3>
        </div>
        <div class="info-form-right mt-4 p-0">
          <form action="#" method="post">
            <div class="row">
              <div class="col-lg-6 form-group mb-2 pr-lg-1">
                <input
                  type="text"
                  class="form-control"
                  name="Name"
                  placeholder="Name"
                  required=""
                />
              </div>
              <div class="col-lg-6 form-group mb-2 pl-lg-1">
                <input
                  type="text"
                  class="form-control"
                  name="Phone"
                  placeholder="Phone"
                  required=""
                />
              </div>
            </div>
            <div class="form-group mb-2">
              <input
                type="email"
                class="form-control"
                name="Email"
                placeholder="Email"
                required=""
              />
            </div>
            <div class="form-group mb-2">
              <textarea
                name="Comment"
                class="form-control"
                placeholder="Comment"
                required=""
              ></textarea>
            </div>
            <button type="submit" class="btn submit-contact ml-auto" (click)="homesubmit()">
              Submit
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</footer>

