
<div class="main-top py-1 p-2" style="background: #ffac30;">
    <div class="container-fluid" style="padding: 5px 120px;">
        <div class="nav-content d-flex gap-5 justify-content-center">
            <!-- logo -->
                <a id="logo" class="logo">
                    <img src="assets/images/LOGO.png" alt="" class="img-fluid" height="72px" width="200px" class="rounded"> 
                </a>
            
            <div class="row middle-flex">
              <form (ngSubmit)="onSearchClick(queryInput.value)" class="newsletter-info d-flex justify-content-center gap-2">
                <input #queryInput type="text" (input)="onSearchClick(queryInput.value)" placeholder="Search Restaurants......" class="search-bar rounded-1">
                <app-search *ngIf="showSearchResults"></app-search>                    
                <button type="submit" class="rounded-1">Search</button>
            </form>
            
            </div>

            <!-- nav -->
            <div class="nav_web-dealingsls">
                <nav>
                    <label for="drop" class="toggle">Menu</label>
                    <input type="checkbox" id="drop" />
                    <ul class="menu">

                      <li>
                            
                        <a class="text-white">Select City<span class="fa fa-angle-down" aria-hidden="true"></span></a>
                        <input type="checkbox" id="drop-3" />
                        <ul>
                            <li *ngFor="let c of cities">
                              <a class="drop-text" (click)="cityRestaurants(c)">{{c}}</a>
                            </li>
                        </ul>
                    </li>

                        <li><a class="text-white" routerLink="">Home</a></li>
                        <li><a class="text-white" routerLink="/restaurants">Restaurants</a></li>
                        <li><a class="text-white" routerLink="/customer/viewOrders" *ngIf="isLoggedIn();">Your Orders</a></li>
                        <li><a class="text-white" *ngIf="!isLoggedIn();" routerLink="/customers/aboutUs">About Us</a></li>
                        
                        

                        <label for="drop-3" class="toggle toogle-2">Your Profile <span class="fa fa-angle-down"
                          aria-hidden="true"></span>
                        </label>

                        <li *ngIf="isLoggedIn(); else loginButton">
                          
                            <a class="text-white">Hi, {{customer.userName}} <span class="fa fa-angle-down" aria-hidden="true"></span></a>
                            <input type="checkbox" id="drop-3" />
                            <ul>
                                <li><a class="drop-text" data-bs-toggle="modal" data-bs-target="#viewCustomer">Your Profile</a></li>
                                <li><a class="drop-text rounded-1" (click)="logout()">Logout</a></li>
                            </ul>
                        </li>
                        
                        <li>
                        <ng-template #loginButton>
                            <!-- login -->
                            <a routerLink="/login" class="btn login-button-2 text-uppercase text-wh">
                                <span class="fa fa-sign-in mr-2"></span>Login</a>
                            <!-- //login -->
                        </ng-template>
                      </li>
                    </ul>
                </nav>
            </div>
            <!-- //nav -->
        </div>
    </div>
</div>


<!-- Modal for View/Update Customer -->
<div class="modal fade" id="viewCustomer" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content">
      <div class="modal-body viewForm">
        <p class="fw-bolder fs-2 text-center heading m-3">Your Profile</p>

        <div class="container p-3">

          <div class="col-md-12 m-auto" *ngIf="imageUrl">
            <div class="img-prev-box" [style.background-image]="'url(' + imageUrl + ')'"></div>
          </div>

          <form class="row g-3" [formGroup]="user">

            <div class="col-md-12">
              <label for="uemail" class="form-label">Email</label>
              <div class="input-group has-validation">
                <input type="email" class="form-control def" formControlName="userEmail" readonly>
              </div>
            </div>

            <div class="col-md-6">
              <label for="fname" class="form-label">First name</label>
              <input type="text" class="form-control def" formControlName="userName" [readonly]="!isUpdateMode">
            </div>

            <div class="col-md-6">
              <label for="cnumber" class="form-label">Contact Number</label>
              <input type="text" class="form-control def" formControlName="userContact" [readonly]="!isUpdateMode">
            </div>

            <div class="col-md-12">
              <label for="upass" class="form-label">Address</label>
              <input type="text" class="form-control def" formControlName="userAddress" [readonly]="!isUpdateMode">
            </div>

            <div class="col-md-6">
              <label for="city" class="form-label">City</label>
              <input type="text" class="form-control def" formControlName="userCity" [readonly]="!isUpdateMode">
            </div>

            <div class="col-md-3">
              <label for="state" class="form-label">State</label>
              <input type="text" class="form-control def" formControlName="userState" readonly>
            </div>

            <div class="col-md-3">
              <label for="pincode" class="form-label">Pin Code</label>
              <input type="text" class="form-control def" formControlName="userPin" [readonly]="!isUpdateMode">
            </div>

            <div class="col-md-6" *ngIf="isUpdateMode">
              <label class="userImgLabel" for="userImg">Choose Img</label>
              <input class="userImg" type="file" formControlName="userImg" id="userImg" (change)="onFileSelected($event)">
              <div *ngIf="user.get('userImg')?.touched && user.get('userImg')?.errors">
                  <div class="text-danger m-2" *ngIf="user.get('userImg')?.errors?.['required']">Please Select Profile Image!!</div>
                </div>
          </div>

            <div class="col-md-12 text-center">
              <button *ngIf="!isUpdateMode" class="button-w3ls active m-2" (click)="toggleUpdateMode()">
                Update Profile
              </button>
              <button *ngIf="isUpdateMode" class="button-w3ls active m-2" (click)="updateCustomer()">
                Save Changes
              </button>
              <button *ngIf="isUpdateMode" class="button-w3ls active m-2" (click)="toggleUpdateMode()">
                Cancel
              </button>
            </div>
          </form>

        </div>
      </div>
    </div>
  </div>
</div>
