<div class="container mb-2 position-absolute top-50 start-50 translate-middle p-4 mb-5 text-dark shadow-lg rounded">

    <p class="fw-bolder fs-2 text-center">Verify OTP</p>

    <div class="container m-2">

        <form class="row g-3" [formGroup]="user">
            
            <div class="col-md-12 mt-3 p-2">
                <label class="form-label">Email</label>
                <div class="input-group has-validation">
                  <input type="email" class="form-control def"style="border-radius: 20px;" [value]="email" readonly>
                </div>
              </div>
              
               <div class="col-md-12 mt-3 p-2">
                <label for="otp" class="form-label">Enter OTP</label>
                <div class="input-group has-validation">
                  <input type="password" class="form-control def" formControlName="otp" style="border-radius: 20px;" required>
                </div>
                <div *ngIf="user.get('otp')?.touched && user.get('otp')?.errors">
                  <div class="text-danger m-2" *ngIf="user.get('otp')?.errors?.['required']">OTP is required</div>
                  <div class="text-danger m-2" *ngIf="user.get('otp')?.errors?.['pattern']">Enter Valid OTP</div>
                </div>
              </div>
         
          <div class="col-12 mt-4">
            <input type="submit" class="btn btn-danger" value="Verify OTP" (click)="verifyOtp()">
          </div>

          </form>

    </div>


</div>
