
<footer class="footer">
  <div class="container">
    <div class="row mt-3">
      <div class="col-md-3">
        <h5>Company</h5>
        <ul class="list-unstyled with-bullets">
          <li>About</li>
          <li>Careers</li>
          <li>Team</li>
        </ul>
      </div>
      <div class="col-md-3">
        <h5>Contact us</h5>
        <ul class="list-unstyled with-bullets">
          <li>Help & Support</li>
          <li>Partner with us</li>
          <li>Ride with us</li>
        </ul>
      </div>
      <div class="col-md-3">
        <h5>Legal Conditions</h5>
        <ul class="list-unstyled with-bullets">
          <li>Terms & Conditions</li>
          <li>Cookie Policy</li>
          <li>Privacy Policy</li>
        </ul>
      </div>
      <div class="col-md-3">
       
        <div class="col-md-8 d-flex justify-content-end">
          <a class="navbar-brand" href="#"> <img src="assets/images/LOGO.png" alt="Your Logo" height="80px" class="rounded"></a>
        </div>
        <p>&copy; 2024 QUISINE PVT LTD.</p>
      </div>
    </div>
  </div>
</footer>
