<footer class="footer">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-3">
        <h5 class="custom-heading">Company</h5>
        <ul class="list-unstyled with-bullets custom">
          <li>About</li>
          <li>Careers</li>
          <li>Team</li>
        </ul>
      </div>
      <div class="col-md-3">
        <h5 class="custom-heading">Contact us</h5>
        <ul class="list-unstyled with-bullets custom">
          <li>Help & Support</li>
          <li>Partner with us</li>
          <li>Ride with us</li>
        </ul>
      </div>
      <div class="col-md-3">
        <h5 class="custom-heading">Legal Conditions</h5>
        <ul class="list-unstyled with-bullets custom">
          <li>Terms & Conditions</li>
          <li>Cookie Policy</li>
          <li>Privacy Policy</li>
        </ul>
      </div>
      <div class="col-md-3">
       
        <div class="col-md-8">
          <a class="navbar-brand" routerLink=""> <img src="assets/images/LOGO.png" alt="Your Logo" height="80px" width="250px" class="rounded"></a>
        </div>
        <p class="custom-heading">&copy; 2024 QUISINE PVT LTD.</p>
      </div>
    </div>
  </div>
</footer>
