.footer {
	background-color: rgb(59 59 60);
	padding: 25px 0px 0px 100px;
  }
  .footer img {
	max-width: 100%;
	
  }
  .list-unstyled li {
	margin-left: 38px; 
  }
  .with-bullets li {
	list-style-type: disc;
  }
  
 .custom, .custom-heading {
    font-weight: 400;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: .5px;
	color: #dbc9c9;
}

.custom{

	display: inline-block;
}