
<app-header></app-header>
<div class="container">
    <div class="row">
      <div class="col-md-8 offset-md-2 p-2">
        <h1 class="text-center mb-4" style="background-color: aliceblue;text-align: center;">About Us</h1>
        <div style="text-align: center;" class="text-light">
        <p>Swiggy is India's largest and most valuable online food ordering and delivery platform. Founded in 2014, Swiggy's mission is to change the way India eats. With a technology-driven approach, Swiggy connects consumers with the best local restaurants in their city.</p>
        <p>Our platform provides customers with an unparalleled selection of dining options, enabling them to discover new and exciting flavors from the comfort of their homes. Whether you're craving traditional Indian cuisine, international delicacies, or quick bites, Swiggy has something for everyone.</p>
        <p>At Swiggy, we are passionate about delivering convenience, quality, and reliability to our customers. Our dedicated team works tirelessly to ensure that every order is delivered swiftly and accurately, allowing our customers to enjoy their favorite meals with ease.</p>
        <p>With millions of satisfied customers and a vast network of restaurant partners, Swiggy is committed to revolutionizing the food delivery industry in India. Join us on our journey as we continue to redefine the way India eats!</p>
    </div>  
    </div>
    </div>
  </div>

  <app-footer></app-footer>