<app-header></app-header>
<div class="container">
  <div class="row">
    <!-- Column for text -->
    <div class="col-md-6 offset-md-0 p-2"> <!-- Adjusted offset -->
      <h1 class="text-center mt-2 fs-3 fw-semiBold mb-4 heading">Welcome to Quisine</h1>
      <div style="text-align: center;" class="text-danger">
        <!-- <h1 class="normal-text-format">Welcome to Quisine</h1> -->
        <p class="normal-text-format"> At Quisune, we're passionate about connecting you with the best food experiences in your area. Whether you're craving comfort classics from your favorite local diner or exploring exciting new flavors from top-rated restaurants, we're here to make every meal memorable. ~"Taste the World, One Bite at a Time with QUISINE!"</p>
        <p class="normal-text-format">Quisine is India's largest and most valuable online food ordering and delivery platform. Founded in 2024, Quisine's mission is to change the way India eats. With a technology-driven approach, Quisine connects consumers with the best local restaurants in their city.</p>
        <p class="normal-text-format">Our platform provides customers with an unparalleled selection of dining options, enabling them to discover new and exciting flavors from the comfort of their homes. Whether you're craving traditional Indian cuisine, international delicacies, or quick bites, Quisine has something for everyone.</p>
        <p class="normal-text-format">At Quisine, we are passionate about delivering convenience, quality, and reliability to our customers. Our dedicated team works tirelessly to ensure that every order is delivered swiftly and accurately, allowing our customers to enjoy their favorite meals with ease.</p>
        <p class="normal-text-format">With millions of satisfied customers and a vast network of restaurant partners, Quisine is committed to revolutionizing the food delivery industry in India. Join us on our journey as we continue to redefine the way India eats!</p>
      </div>
    </div>
    <!-- Column for image -->
    <div class="col-md-6 offset-md-0 p-2 mt-4"> <!-- Adjusted offset -->
      <img class="" style="height: 65vh; width: 100%" src="../../../../assets/images/undraw_playing_cards_cywn.svg" alt="" />
    </div>
  </div>
</div>
<app-footer></app-footer>
