
.form-container {
    background-color: white; 
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
    max-width: 400px; 
  }
  
  body {
    background-color: #6C757D;
  }
  
  
  app-header {
    margin-bottom: 0; 
  }
  