<!-- <div class="container">
    <h1 class="mb-4"style="display: flex;justify-content: center;">User List</h1>
    <div class="table-responsive">
        <table class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th>Customer ID</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Contact</th>
                    <th>City</th>
                    <th>State</th>
                    <th>Pincode</th>
                </tr>
            </thead>
            <tbody>
                <c:forEach items="${allusers}" var="user">
                    <tr>
                        <td>${user.custId}</td>
                        <td>${user.custName}</td>
                        <td>${user.custEmail}</td>                    	
                        <td>${user.custContact}</td>
                        <td>${user.custCity}</td>
                        <td>${user.custState}</td>
                        <td>${user.custPin}</td>
                    </tr>
                </c:forEach>
            </tbody>
        </table>
    </div>
</div> -->
<app-side-navbar></app-side-navbar>