#custHeight {
    height: 100vh;
}

.heading {
    margin-top: 20px;
    /* color : #512da8; */
}

.cards-container {
    margin-top: 20px;
}
.card {
    border: 1px solid #ddd;
    border-radius: 10px;
    transition: all 0.3s;
}
.card:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transform: translateY(-12px);
}