

<div class="container mb-2 position-absolute top-50 start-50 translate-middle p-4 mb-5 text-dark shadow-lg rounded">

    <p class="fw-bolder fs-2 text-center">Verify Your Email</p>

    <div class="container m-2">

        <form class="row g-3" [formGroup]="user">
            
          <div class="col-md-12 mt-3 p-2">
            <label class="form-label">Email</label>
            <div class="input-group has-validation">
              <input type="email" class="form-control def" formControlName="userEmail" style="border-radius: 20px;">
            </div>
            <div *ngIf="user.get('userEmail')?.touched && user.get('userEmail')?.errors">
              <div class="text-danger m-2" *ngIf="user.get('userEmail')?.errors?.['required']">Email is required</div>
              <div class="text-danger m-2" *ngIf="user.get('userEmail')?.errors?.['pattern']">Invalid email format</div>
            </div>
          </div>
          

          <div class="col-12">
            <div class="form-check">
              <input class="form-check-input def" type="checkbox" formControlName="agree">
              <label class="form-check-label">
                Agree to terms and conditions
              </label>
            </div>
            <div *ngIf="user.get('agree')?.touched && user.get('agree')?.errors">
              <div class="text-danger m-2" *ngIf="user.get('agree')?.errors?.['required']">You must agree to Terms and Conditions!!</div>
            </div>
          </div>
         
          <div class="col-12 mt-4">
            <input type="submit" [disabled]="!user.valid" class="btn btn-danger mr-3" value="Send OTP" (click)="sendOtp()">
            
          </div>

          </form>

    </div>
    
    <p class="text-center text-dark">Already Registered? Want to <a href="login"
            class="text-decoration-none">Sign in </a></p>

</div>
