<div class="container">
    <input type="text" [(ngModel)]="searchInput" (input)="onInputChange()" placeholder="Search...">
    
    <div *ngIf="restaurantResults.length > 0">
      <h2>Restaurants:</h2>
      <div class="card-container">
        <div *ngFor="let restaurant of restaurantResults" class="card">
          <div class="card-body">
            <h3 class="card-title">{{ restaurant.userName }}</h3>
          </div>
        </div>
      </div>
    </div>
  

    <div *ngIf="foodResults.length > 0">
      <h2>Foods:</h2>
      <div class="card-container">
        <div *ngFor="let food of foodResults" class="card">
          <div class="card-body">
            <h3 class="card-title">{{ food.foodName }}</h3>
          </div>
        </div>
      </div>
    </div>
  
    <div *ngIf="restaurantResults.length === 0 && foodResults.length === 0">
      <p>No results found.</p>
    </div>
  </div>
  