 <div style="display: flex;">
    <div><app-side-navbar></app-side-navbar></div>
    
    <div class="container">
        <h2 class="text-center mb-4 rounded-1" style="display: flex; justify-content: center; align-items: center;background-color: aliceblue; height: 60px;margin-top: 10px;">All Restaurants</h2>
        <div class="table-responsive rounded-1">
            <table class="table table-striped">
                <caption></caption>
                <thead >
                    <tr>
                        <th style="background-color: #6FC3DF; color: white; border: 1px solid #949292; padding: 10px;height: 20px;">Restaurant ID</th>
                        <th style="background-color: #6FC3DF; color: white; border: 1px solid #949292; padding: 10px;height: 20px;">Name</th>
                        <th style="background-color: #6FC3DF; color: white; border: 1px solid #949292; padding: 10px;height: 20px;">Email</th>
                        <th style="background-color: #6FC3DF; color: white; border: 1px solid #949292; padding: 10px;height: 20px;">Contact</th>
                        <th style="background-color: #6FC3DF; color: white; border: 1px solid #949292; padding: 10px;height: 20px;">City</th>
                        <th style="background-color: #6FC3DF; color: white; border: 1px solid #949292; padding: 10px;height: 20px;">State</th>
                        <th style="background-color: #6FC3DF; color: white; border: 1px solid #949292; padding: 10px;height: 20px;">Pincode</th>
                        <th style="background-color: #6FC3DF; color: white; border: 1px solid #949292; padding: 10px;height: 20px;">Image</th>
                        <th style="background-color: #6FC3DF; color: white; border: 1px solid #949292; padding: 10px;height: 20px;">Delete</th>
                        <th style="background-color: #6FC3DF; color: white; border: 1px solid #949292; padding: 10px;height: 20px;">View</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let rest of showrest">
                        <td style="border: 1px solid #ccc; padding: 10px; text-align: center">{{rest.userId}}</td>
                        <td style="border: 1px solid #ccc; padding: 10px; text-align: center">{{rest.userName}}</td> 
                        <td style="border: 1px solid #ccc; padding: 10px; text-align: center">{{rest.userEmail}}</td>
                        <td style="border: 1px solid #ccc; padding: 10px; text-align: center">{{rest.userContact}}</td>
                        <td style="border: 1px solid #ccc; padding: 10px; text-align: center">{{rest.userCity}}</td>
                        <td style="border: 1px solid #ccc; padding: 10px; text-align: center">{{rest.userState}}</td>
                        <td style="border: 1px solid #ccc; padding: 10px; text-align: center">{{rest.userPin}}</td>
                        <td style="border: 1px solid #ccc; padding: 10px; text-align: center;">
                            <img [src]="'assets/images/hotels/' + rest.userImg" alt="{{rest.userImg}}" class="restaurant-image" style="height: 60px; width: 80px;">
                        </td>
                        <td style="border: 1px solid #ccc; padding: 10px; text-align: center;">
                            <a (click)="deleteHandler(rest.userId)" class="btn btn-danger" style="text-decoration: none;color: white;"><i class="fa-solid fa-trash">  </i></a>
                        </td>
                        <td style="border: 1px solid #ccc; padding: 10px; text-align: center;">
                            <a (click)="viewHandler(rest.userId)" class="btn btn-secondary" style="text-decoration: none; color: white;"><i class="fa-solid fa-eye">  </i></a>
                        </td>
                    </tr>
                                
                </tbody>
            </table>
        </div>
        
</div>

 </div>