/* Import Bootstrap CSS */
@import url('../src/assets/css/bootstrap.css');

/* Import other CSS files */
@import url('../src/assets/css/css_slider.css');
@import url('../src/assets/css/style.css');
@import url('../src/assets/css/font-awesome.min.css');


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;
    background-image: linear-gradient(135deg, #fccf3166 10%, #f5555569 100%);
}
