<app-header></app-header>

<div class="container-fluid">
  <p class="fw-bolder fs-2 text-center mt-4 heading">Fresh in {{ restName }}</p>
    <div class="row card_container p-4">
      <div class="col-md-8">
        <div  
          class="d-flex justify-content-center gap-5 flex-row flex-wrap mb-3 cards-container"
        >
          <div class="col-lg-5 col-md-2" *ngFor="let foodRest of restFood">
            <div class="card border-0 med-blog rounded" style="border-radius: 12px !important;">
                <div class="card-header p-0">
                    
                  <img class="card-img-bottom" src="../../../../assets/images/{{ foodRest.food.foodImage }}" alt="food">
                    
                </div>
                <div class="card-body border border-top-0">
                    <h5 class="blog-title card-title m-0 ">{{ foodRest.food.foodName }}</h5>
                    <p class="mt-2 ">Starting at just <b>&#8377; {{ foodRest.rate }} </b></p>
                    <a
                class="button-w3ls active mt-2 add-to-cart mb-2"
                (click)="toggleQuantityButtons(foodRest)"
              >
                Add to Cart <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                </a>
              <div class="quantity-bar">
                <button
                  type="button"
                  class="btn btn-success decrease-quantity"
                  *ngIf="foodRest.addedToCart"
                  (click)="decreaseQuantity(foodRest)"
                >
                  -
                </button>
                <span class="p-2 span-con" *ngIf="foodRest.addedToCart">{{
                  foodRest.quantity
                }}</span>
                <button
                  type="button"
                  class="btn btn-success increase-quantity"
                  *ngIf="foodRest.addedToCart"
                  (click)="increaseQuantity(foodRest)"
                >
                  +
                </button>
              </div>
                </div>
            </div>
        </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="summary bg-white p-3 rounded">
          <p class="fs-4 fw-semibold heading">Summary</p>
          <p class="normal-text-format">
            Meals :
            <span *ngFor="let entry of map | keyvalue; let last = last">
              {{ entry.key.food.foodName }} * {{ entry.value
              }}{{ !last ? ", " : "" }}
            </span>
          </p>
          <p class="normal-text-format">
            Meal Charges : &#8377; {{ totalMealCharges }}
          </p>
          <hr />
          <p *ngIf="deliveryCharges === 40 else freeDelivery" class="normal-text-format">
            Delivery Charges : &#8377; {{ deliveryCharges }}
          </p>
          <ng-template #freeDelivery>
            <p class="normal-text-format">
              Congratulations, You are eligible for free delivery!
            </p>
          </ng-template>
          <p class="normal-text-format">
            Convenience Fee : &#8377; {{ convenienceFee }}
          </p>
          <hr />
          <p class="normal-text-format">Total Price : &#8377; {{ totalPrice }}</p>
          <button
            type="submit"
            class="btn btn-success mt-2"
            [disabled]="!proceedButtonState"
            (click)="proceedToPayment()"
          >
            Proceed
          </button>
        </div>
      </div>
    </div>
</div>
<app-footer></app-footer>