<div class="container custom-form position-absolute top-50 start-50 translate-middle p-0 text-dark shadow-lg rounded">

    <p class="fw-bolder fs-2 text-center heading mt-3">Login</p>

    <div class="container-fluid d-flex justify-content-center">

        <form class="col-md-7 p-2" [formGroup]="user">

            <div class="col-md-12">
                <label for="uemail" class="form-label">Email</label>
                <div class="input-group has-validation">
                    <input type="email" class="form-control" formControlName="userEmail" placeholder="Enter your Email">
                </div>
                <div *ngIf="user.get('userEmail')?.touched && user.get('userEmail')?.errors">
                    <div class="text-danger m-2" *ngIf="user.get('userEmail')?.errors?.['required']">Email is required</div>
                    <div class="text-danger m-2" *ngIf="user.get('userEmail')?.errors?.['pattern']">Invalid email format</div>
                  </div>
            </div>
            
            <div class="col-md-12 mt-3">
                <label for="upass" class="form-label">Password</label> 
                <input type="password" class="form-control" formControlName="userPass" placeholder="Enter your Password">
                    <div *ngIf="user.get('userPass')?.touched && user.get('userPass')?.errors">
                        <div class="text-danger m-2" *ngIf="user.get('userPass')?.errors?.['required']">Password is required</div>
                        <div class="text-danger m-2" *ngIf="user.get('userPass')?.errors?.['minlength']">Password must be at least 8 characters long</div>
                        <div class="text-danger m-2" *ngIf="user.get('userPass')?.errors?.['pattern']">Invalid Password Format</div>
                    </div>
            </div>

            <!-- <div class="col-12 mt-3">
                <div class="form-check">
                    <input class="form-check-input def" type="checkbox" formControlName="agree">
                     <label class="form-check-label"
                        for="invalidCheck3"> Agree to terms and conditions </label>
                </div>
                <div *ngIf="user.get('agree')?.touched && user.get('agree')?.errors">
                    <div class="text-danger m-2" *ngIf="user.get('agree')?.errors?.['required']">You must agree to Terms and Conditions</div>
                    </div>
            </div> -->

            <div class="col-12 mt-4">
                <button type="submit" class="button-w3ls active mr-3" [disabled]="user.invalid" value="Login" (click)="login()"> Login </button>
            </div>
            <div>
                <p class="text-left text-dark mr-2 mt-3">
                    <a routerLink="/sendVerifyOtp"
                        class="text-decoration-none">Register</a>
                </p>
        
                <p class="text-left text-dark mr-2">
                    <a routerLink="/forgotPassword"
                        class="text-decoration-none">Forgot Password</a>
                </p>
            </div>

        </form>

        <div class="col-md-5">
            <img
      class=""
      style="height: 30vh; width: 15vw"
      src="../../../../assets/images/undraw_undraw_sign_up_ln1s_-1-_ofs1.svg"
      alt=""
    />
        </div>

    </div>

    

</div>


