<nav id="sidebar" aria-label="sidebar">
    <div class="sidebar-header">
      <img
        src="assets/images/LOGO.png"
        alt="Logo"
        style="height: 60px; width: auto; padding-right: 15px"
      />
    </div>

    <div class="container-fluid">
      <div class="row">
        <div class="col">
          <ul class="list-unstyled components" style="text-align: center;">
            <li class="active">
             

            <li>
              <a routerLink="/admin/aboutus" class="btn" style="border: none; background-color: #A75D5D;font-weight: 500; font-size: medium">About us</a>
            </li>
            <li>
              <a routerLink="/admin/viewRestaurants" class="btn" style="border: none; background-color: #A75D5D;font-weight: 500; font-size: medium">Restaurants</a>

            </li>
            <li>
              <a routerLink="/admin/viewOrders" class="btn" style="border: none; background-color: #A75D5D;font-weight: 500; font-size: medium">Orders</a>

            </li>
            <li>
              <a routerLink="/admin/viewCustomers" class="btn" style="border: none; background-color: #A75D5D;font-weight: 500; font-size: medium">Customers</a>

            </li>
            <li>
              <a routerLink="/admin/viewFeedbacks" class="btn" style="border: none; background-color: #A75D5D;font-weight: 500; font-size: medium">Feedbacks</a>

            </li>
          </ul>
        </div>
      </div>
    </div>
  </nav>